h2 Créer un compte
form(method='post', action='/users')
    label Nom
        input(type='text', name='name')
    label Pseudo
        input(type='text', name='pseudo')
    label Mot de passe
        input(type='password', name='password')
    button(type='submit') Créer un compte