form(method='post', action='/signin')
    label Pseudo
        input(type='text', name='pseudo')
    label Mot de passe
        input(type='password', name='password')
    button(type='submit') Se connecter