h3 Gestion des utilisateurs
    each user in data
        div
            form(method='post' action='/user/delete/' + user['_id'])
                div.user
                    span=user.name 
                    p=user.pseudo
                    button(type='submit') Supprimer